.productEl {
   max-width: 300px;
 max-height: 350px;
display: flex;
flex-wrap: wrap;
/* border: 2px solid rgb(43, 141, 58);
border-radius: 2%; */
padding: 5px;
}
.productEl:hover {
    scale: 110%;
    transition: scale 0.3s ease-in;
    cursor: pointer;
}

.productImg {
max-height: 280px;
margin: 0 auto;
}

.description {
    width: 100%;
    text-align: center;
    justify-content: center;

}

.productBtn {
    background-color: rgb(239, 250, 241);
    border: 2px solid rgb(141, 197, 149);
    min-width: 130px;
    padding: 5px 10px;
    border-radius: 15px;
}

.productBtn:hover,
productBtn:focus {
background-color: rgb(30, 119, 45);
color: white;
font-weight: bold;
}